<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>viewlayer.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVehicleListServlet</servlet-name>
        <servlet-class>viewlayer.ShowVehicleListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleControllerServlet</servlet-name>
        <servlet-class>viewlayer.VehicleControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicleServlet</servlet-name>
        <servlet-class>viewlayer.RegisterVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVehicleByIdServlet</servlet-name>
        <servlet-class>viewlayer.ShowVehicleByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMaintenanceServlet</servlet-name>
        <servlet-class>viewlayer.ShowMaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMaintenanceByIdServlet</servlet-name>
        <servlet-class>viewlayer.ShowMaintenanceByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVehicleListServlet</servlet-name>
        <url-pattern>/ShowVehicleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleControllerServlet</servlet-name>
        <url-pattern>/VehicleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicleServlet</servlet-name>
        <url-pattern>/RegisterVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVehicleByIdServlet</servlet-name>
        <url-pattern>/ShowVehicleById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMaintenanceServlet</servlet-name>
        <url-pattern>/ShowMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMaintenanceByIdServlet</servlet-name>
        <url-pattern>/ShowMaintenanceById</url-pattern>
    </servlet-mapping>

  
 
    
         <servlet-mapping>
              <servlet-name>FrontController</servlet-name>
              <url-pattern>/controller</url-pattern>
        </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
    </filter-mapping>
</web-app>
